Hello #{@person.first_name} #{@person.last_name}
Please notice that #{@new_person.first_name} #{@new_person.last_name} has joined the application. ... [Any other content you may want to add] ...
Regards, People System