%p
  %h1
    Hello #{@person.first_name} #{@person.last_name}
%p
  Please notice that #{@deleted_person['first_name']} #{@deleted_person['last_name']} has left the application.
%p
  Regards, People System